<%project_cf = ProjectCustomField.where(:field_format=>'date').pluck(:name,:id)%>
<%version_cf = VersionCustomField.where(:field_format=>'date').pluck(:name,:id)%>
<p><%= t :progressive_settings_hint %></p>
<div class="tabular settings">
  <p>
    <%= setting_label(:show_project_menu) %>
    <%= check_box_tag('settings[show_project_menu]', true, @settings['show_project_menu']) %>
  </p>
  <p>
    <%= setting_label(:show_project_description) %>
    <%= check_box_tag('settings[show_project_description]', true, @settings['show_project_description']) %>
  </p>
  <p>
    <%= setting_label(:show_project_progress) %>
    <%= check_box_tag('settings[show_project_progress]', true, @settings['show_project_progress']) %>
  </p>
  <p>
    <%= setting_label(:show_only_for_my_projects) %>
    <%= check_box_tag('settings[show_only_for_my_projects]', true, @settings['show_only_for_my_projects']) %>
  </p>
  <p>
    <%= setting_label(:show_project_progress_overview) %>
    <%= select_tag('settings[show_project_progress_overview]',
      options_for_select([
        [l(:general_text_No), ''],
        [l(:progressive_option_left), 'left'],
        [l(:progressive_option_right), 'right']],
      @settings['show_project_progress_overview'])) %>
  </p>
  <p>
    <%= setting_label(:show_recent_projects) %>
    <%= check_box_tag('settings[show_recent_projects]', true, @settings['show_recent_projects']) %>
  </p>
</div>
<fieldset>
  <br/>
  <%= l(:progressive_settings_custom_field) %>
  <br/>
  <br/>
  <table class="cf_setting">
    <tr>
      <th><%= l(:project_custom_field) %></th>
      <th><%= l(:version_custom_field) %></th>
    </tr>
    <tr>
      <td>
        <%= select_tag "settings[sort_project_custom_field]",options_for_select(project_cf,@settings['sort_project_custom_field']),multiple: true%>
      </td>
      <td>
        <%= select_tag "settings[sort_version_custom_field]",options_for_select(version_cf,@settings['sort_version_custom_field']),multiple: true%>
      </td>
    </tr>
  </table>
  <br/>
  <%= l(:sort_order) %>:
  <%= radio_button_tag("settings[project_sort_order]", "asc", checked = (@settings["project_sort_order"] == "asc"), options = {}) %>
  <%= l(:label_ascending)%>
  <%= radio_button_tag("settings[project_sort_order]", "desc", checked = (@settings["project_sort_order"] == "desc"), options = {}) %>
  <%= l(:label_descending)%>
  <br/>
  <br/>
  <%= l(:sort_project_without_custom_field) %>
  <%= select_tag "settings[default_project_sort]",options_for_select([[l(:alphabetical), "name"], [l(:creation_date), "created_on"]],@settings['default_project_sort'])%>
</fieldset>